<ngx-dropzone (change)="onSelect($event)">
  <ngx-dropzone-label>Sleep het Excel (.xlsx) bestand hier naar toe (of klik hier). Gebruik het voorbeeld bestand (zie
    onder)</ngx-dropzone-label>
</ngx-dropzone>
<a href="assets/voorbeeld.xlsx">Download voorbeeld bestand</a>.<br>
<br>

Code omgezet van PHP naar Angular door <a href="https://github.com/edskeizer" target="_blank"> Eds Keizer</a>. <br>
Algoritme in PHP door <a href="https://github.com/bslagter" target="_blank">Bert Slagter</a>, veel dank!<br>
<br>
Er wordt geen data geüpload naar een server. Het omzetten vindt plaats in je browser. Er is dus geen AVG van toepassing!